{% extends "layout.html.j2" %}

{% block title %} Classification results {% endblock %}

{% block body %}
<h5>Most relevant nutrient contents for each product have been highlighted, serving size(s) are standard</h5>
<table style="width:100%"> 
  <tr>
    {% for i in names %}
        <td align="center"><h5>{{i}}</h5></td>
    {% endfor %}
  </tr>
  <tr>
    {% for index, row in nutrients.iterrows() %}
        <td>{% include './nfactsTable.html' %}</td>
    {% endfor %}
  </tr>
{% if (names|length > 0) and (names[0] !='<font color="red">Product not found</font>') %}
  <tr>
  <td align="center" colspan="{{span}}"><h5>Color meaning: <span style="background-color: #6bff74">considered healty</span>, <span style="background-color: #f6f959">pay attention!</span>, <span style="background-color: #ff6347">considered unhealthy</span></h5></td>
  </tr>
{% endif %}  
</table>
{% endblock %}
