{% extends "layout.html.j2" %}

{% block title %} Classification results {% endblock %}

{% block body %}
<h5>Most relevant nutrient contents for each product have been highlighted, serving size(s) are standard</h5>
<table style="width:100%">
{% if names|length > 1 %}
  <tr>
    <td align="center" colspan="{{span}}"><h3>The option with the <font color=#3053f2>{{lookFor}}</font> is <font color=#3053f2>{{best}}</font></h3></td>
  </tr>
{% endif %}
  
  <tr>
    {% for i in names %}
        <td align="center"><h5>{{i}}</h5></td>
    {% endfor %}
  </tr>
  <tr>
    {% for index, row in nutrients.iterrows() %}
        <td>{% include './nfactsTable.html' %}</td>
    {% endfor %}
  </tr>
  <!--<tr>
    {% for i in clusters %}
        <td><h5>Found <span class="text-success">{{i}}</span> close clusters</h5></td>
    {% endfor %}
  </tr>-->
</table>
{% endblock %}
